<nav class="lime darken-3">
    <div class="container nav-wrapper">
        <a href="#!" class="brand-logo">Disease Detection Results</>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="{% url 'upload' %}">
                    <i class="material-icons left">add_a_photo</i>Upload new image</a>
            </li>
            <li>
                <!-- <a href="{{ pdf_file }}">
                    <i class="material-icons left">insert_drive_file</i>Download PDF leaf report</a> -->
            </li>
        </ul>
    </div>
</nav>